.App {
  background-color: gray;
}

.landing {
  text-align: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.intro {
  text-align: center;
  align-items: center;
  background-color: slategray;
}

.intro-text {
  margin-left: 30px;
  margin-right: 30px;
}

.about {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  background-color: lightgray;
}

.projects {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  background-color: lightslategray;
}

.tech {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  background-color: lightsteelblue;
}

.contact {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  background-color: lightgoldenrodyellow;
}

.links {
  justify-content: space-between;
}

.img {
  height: 240px;
  border-radius: 50%;
  border-color: black;
  border-width: 50px;
}
