.landing {
  text-align: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.intro {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.about {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.projects {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.tech {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.contact {
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}
